/*
* Atividade 11 
* Disciplina de Programação Web
* Fatec Sorocaba
* 
* @author: Carlos Wagner Rodrigues da Silva
*/
body{
    background-image: url(images/wallpaper.jpg); 
    background-size: 100%;
    color: rgb(8, 2, 2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2;
}

header{
    text-align: center;
    width: 100%;
    max-height: 7vh;
    font-size: 1.2em;
    color: rgb(255, 0, 0);
}

main{
    text-align: justify;
    width: 100%;
    min-height: 8vh;
    font-size: 1.2em;
    padding-top: 5px;
   
}

main>h2{
    text-align: center;
}
section{
    text-align: center;
    text-decoration-style: double;   
    text-shadow: rgb(3, 3, 3);
    text-transform: capitalize;
    width: 100%;
    min-height: 15vh;

    color: rgb(1, 25, 245);
}
section>div>h2{
    color: crimson;
    text-transform: uppercase;
}

.footer-bottom {
    position: absolute;
    width: 100%;
    margin-bottom: 10px;
    margin-left: -30px;
    bottom: 0px;
    display: flex;
    color: rgb(5, 5, 5);
    justify-content: right;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    margin-top: 10em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .footer-bottom img {
    position: sticky;
    object-position: right;

  }