/*
* Atividade 8 
* Disciplina de Programação Web
* Fatec Sorocaba
* 
* @author: Carlos Wagner Rodrigues da Silva
*/
body{
    background-image: url(image/bkg.jpeg); 
    background-size: 100%;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.2;
}

header{
    text-align: center;
    width: 100%;
    max-height: 7vh;
    font-size: 1em;
    color: orange;
}

main{
    text-align: center;
    width: 100%;
    min-height: 8vh;
    font-size: 0.75em;
    padding-top: 5px;    
}

main>p>button{
    margin-top: 10px;
    font-size: 1.1em;    

    text-decoration: solid;     
}

main>input{
    height: 20px
}

section{
    text-align: center;
    text-decoration-style: double;   
    text-shadow: rgb(3, 3, 3);
    text-transform: capitalize;
    width: 100%;
    min-height: 15vh;

    color: white;
}
section>div>h2{
    color: crimson;
    text-transform: uppercase;
}